body
  +light
  color: #262626
img
  max-width: 100%
.section
  padding: 100px 0
  &-title
    font-size: 30px
    font-family: Proxima Nova Semibold, sans-serif
    text-align: center
    text-transform: uppercase
  &__title
    margin-bottom: 100px
.button-o
  border: 2px solid #4285f4
  padding: 17px 22px
  text-transform: uppercase
  font-size: 12px
  font-family: Proxima Nova Semibold, sans-serif
  color:#4285f4
  background-color: #fff
  text-decoration: none
.button
  border: none
  text-transform: uppercase
  padding: 25px 45px
  background-color: #4285f4
  color: #fff
  font-family: Proxima Nova Semibold, sans-serif
  text-decoration: none
  &:hover
    cursor: pointer
  &-fitting
    padding: 10px
    text-transform: uppercase
    color:#507fe1
    background-color: #fff
  &-add
    background-color: lighten(#507fe1, 10%)
    color: #fff
  &-like
    background-color: #507fe1
    height: 30px
    width: 30px
    border: none
.bg-secondary
  background: #f1f1f1
.input
  height: 80px
  padding: 30px
  border: 1px solid #dddddd
input[type="checkbox"]
  display: none
  &:checked + label:before
    background-color: #507fe1
.select
  height: 80px
  width: 100%
  border: 1px solid #dddddd
  position: relative
  &:after
    content: ''
    position: absolute
    z-index: 9
    top: 50%
    transform: translateY(-50%)
    right: 20px
    width: 20px
    height: 20px
    background: url('../img/caret.png') no-repeat
    background-size: 100%
  &:hover
    cursor: pointer
  &_checked
    line-height: 80px
    padding-left: 30px
  &__dropdown
    position: absolute
    top: 80px
    width: 100%
    background-color: #fff
    border: 1px solid #dddddd
    margin: 0
    list-style: none
    padding: 0
    display: none
    &_open
      display: block
  &__option
    padding: 20px
    &:hover
      background-color: #f5f6f8
.checkbox
  &-label
    display: flex
    align-items: center
    margin-right: 40px
    &:hover
      cursor: pointer
    &:before
      content: ''
      width: 30px
      height: 30px
      border: 1px solid #dddddd
      margin-right: 20px
@media (max-width: 576px)
  .button
    font-size: 10px
    &-o
      font-size: 10px
  .section
    padding: 60px 0
    &-title
      font-size: 24px