<ifModule mod_expires.c>

<FilesMatch ".(jpg|jpeg|gif|png|ico|css|js|woff)$" >
    ExpiresActive On
		ExpiresDefault "access plus 7 days"
</FilesMatch>

 #кэшировать флэш и изображения на одну неделю
 ExpiresByType image/x-icon "access plus 7 days"
 ExpiresByType image/jpeg "access plus 7 days"
 ExpiresByType image/png "access plus 7 days"
 ExpiresByType image/gif "access plus 7 days"
 ExpiresByType application/x-shockwave-flash "access plus 7 days"
 #кэшировать css, javascript и текстовые файлы на одну неделю
 ExpiresByType text/css "access plus 7 days"
 ExpiresByType text/javascript "access plus 7 days"
 ExpiresByType application/javascript "access plus 7 days"
 ExpiresByType application/x-javascript "access plus 7 days"
 #кэшировать html и htm файлы на одну неделю
 ExpiresByType text/html "access plus 7 days"
 #кэшировать xml файлы на одну неделю
 ExpiresByType application/xhtml+xml "access plus 7 days"

 BrowserMatch "Opera" !brokenvary
 BrowserMatch "Mozilla/4.[0-9]{2}" brokenvary=1
 BrowserMatch "MSIE" brokenvary=1

</ifModule>